/*===========================================*/
/*GOOGLE FONTS*/
/*===========================================*/
.letra-raleway {
    font-family: '"Raleway"', cursive;
}

.letra-roboto {
    font-family: 'Roboto Serif', serif;
}

.letra-lato {
    font-family: 'Lato', sans-serif;
}

.letra-lemon {
    font-family: 'Lemon', serif;
}

.letra-salsa {
    font-family: 'Salsa', cursive;
}

.letra-tektur {
    font-family: 'Tektur', sans-serif;
}

/*===========================================*/
/*GLOBALES*/
/*===========================================*/
html {
    scroll-behavior: smooth;
}

/* Estilos para el scroll en general */
::-webkit-scrollbar {
    width: 5px;
    /* Ancho del scroll */
}

/* Estilos para la barra del scroll */
::-webkit-scrollbar-thumb {
    background-color: #04343C;
    /* Color de la barra */
}

/* Estilos para el fondo del scroll */
::-webkit-scrollbar-track {
    background-color: #a319b6;
    /* Color del fondo */
}

body {
    overflow-x: hidden;
}

.negrita {
    font-weight: bold;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.centrado {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrado-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*===========================================*/
/*HEADER*/
/*===========================================*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 720px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-hamburguesa {
    display: none;
}

.menu-movil {
    list-style: none;
    border-bottom: 1px solid black;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
}

.mostrar-menu {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}

.menu li a {
    color: black !important;
    font-size: 20px;
    transition: all .2s;
}

.menu li a:hover,
.menu-movil li a:hover {
    font-weight: 700;
}

/*===========================================*/
/*BANNER*/
/*===========================================*/
.your-slider {
    width: 100%;
    height: 550px;
    background-image: url('../img/bg-banner.png');
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.column1,
.column2 {
    padding: 20px;
    height: 550px;
}

.column1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img1 {
    width: 370px;
    top: 10px;
}

.banner-img2 {
    width: 500px;
}

/* ===== */

.column2 {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 35px;
    margin-bottom: 10px;
    color: #ffffff;
}

.descripcion {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icono-descuento {
    font-size: 26px;
    color: #ff8800;
    margin-right: 10px;
}

.descuento {
    font-size: 20px;
    color: #ff8800;
}

.precio {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    /* Color del precio */
}

.boton-comprar {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: #ff8800;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    margin-bottom: 20px;
    outline: none !important;
}

.boton-comprar:hover {
    background-color: #fc9b3b;
    color: #eceaea;
}

/*===========================================*/
/*NOVEDADES*/
/*===========================================*/

/* COLUMNAS */

.grid-novedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-novedad {
    background-color: #ff0000;
}

.flip-card {
    perspective: 1000px;
    width: 320px;
    height: 420px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
}

.flip-card.hover {
    transform: rotateY(180deg);
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    /* justify-content: center; */
    font-size: 24px;
}

.flip-card-front {
    border-radius: 10px;
    background-image: url(../img/bg-card.png);
    background-size: cover;
    background-position: center center;
    align-items: center;

}

.slider-card {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.315); */
    height: 350px;
}

.flip-card-back {
    /* background-color: #e74c3c; */
    transform: rotateY(180deg);
}

.flip-card-btn {
    position: absolute;
    right: 0%;
    bottom: 0%;
    border-bottom-right-radius: 10px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none !important;
    background-color: black;
}

.cart-card-btn {
    position: absolute;
    left: 0%;
    bottom: 0%;
    border-bottom-left-radius: 10px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none !important;
    background-color: black;
}

.titulo-card {
    position: absolute;
    top: 50px;
    font-weight: 100;
    left: 50%;
    padding: 0px;
    font-size: 18px;
    transform: translate(-50%, -50%);

}

/* BACK CARD */

.product-box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-feature {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feature-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #3498db;
}

.feature-text {
    font-size: 14px;
}

/*===========================================*/
/*CARRUSEL*/
/*===========================================*/

/*===========================================*/
/*SECCION PRODUCTOS*/
/*===========================================*/

/*===========================================*/
/*FOOTER*/
/*===========================================*/

/*=======================================================================================================================================*/
/*TABLET HORIZONTAL LG 1024px*/
/*=======================================================================================================================================*/
@media (max-width: 1199px) and (min-width: 992px) {}

/*=======================================================================================================================================*/
/*TABLET VERTICAL MD 768px*/
/*=======================================================================================================================================*/
@media (max-width: 991px) and (min-width: 768px) {}

/*=======================================================================================================================================*/
/*MOVIL HORIZONTAL SM 576px*/
/*=======================================================================================================================================*/
@media (max-width: 767px) and (min-width: 576px) {}

/*=======================================================================================================================================*/
/*MOVIL VERTICAL 320px*/
/*=======================================================================================================================================*/
@media (max-width: 575px) {

    /*===========================================*/
    /*HEADER*/
    /*===========================================*/
    .menu {
        /* width: 720px;
        display: flex;
        justify-content: space-between;
        list-style: none; */
        display: none;
    }

    .menu-hamburguesa {
        display: block;
        font-size: 45px;
        font-weight: bold;
    }

    .logo {
        width: 200px !important;
    }

    .menu-movil li a {
        color: black;
        font-size: 18px;
    }

    .menu-movil li {
        margin-bottom: 10px;
    }

    /*===========================================*/
    /*BANNER*/
    /*===========================================*/
    .your-slider {
        height: 585px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        flex-direction: column;
        row-gap: 10px;

    }

    .column1,
    .column2 {
        height: auto;
        padding: 5px;
    }

    .banner-img1 {
        width: 200px;
        position: static;
    }

    .banner-img2 {
        width: 280px;
    }

    .titulo {
        font-size: 16px;
        font-weight: lighter;
        text-align: start;
        margin-bottom: 10px !important;
    }

    .descripcion {
        font-size: 12px;
        text-align: left;
        margin-bottom: 10px !important;
    }

    .oferta {
        justify-content: start;
        margin-bottom: 0px !important;
    }

    .icono-descuento {
        font-size: 17px;
    }

    .descuento {
        font-size: 13px;
    }

    .precio {
        font-weight: lighter;
        text-align: start;
        font-size: 12px;
        margin-bottom: 10px !important;
    }

    .boton-comprar {
        display: block;
        padding: 8px 25px;
        font-size: 12px;
        margin-bottom: 15px;
    }

    /*===========================================*/
    /*NOVEDADES*/
    /*===========================================*/
    .grid-novedades {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20PX;
    }

    .flip-card {
        perspective: 1000px;
        width: 100%;
        height: 420px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
        border-radius: 10px;
    }

    .item-novedad {
        background-color: red;
    }

}